<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="f92e9c6d-621a-4356-b824-f29c827b2282" Publisher="CN=biren" Version="1.0.7.0" />
  <mp:PhoneIdentity PhoneProductId="f92e9c6d-621a-4356-b824-f29c827b2282" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>UWPSoundBoard</DisplayName>
    <PublisherDisplayName>Rahul Jha</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="UWP SoundBoard.App">
      <uap:VisualElements DisplayName="UWP SoundBoard" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\PackageAppXManifest\88x88.png" Description="A simple app that plays some fun sounds when tapped or play your music when dragged on top of the app.    The major credit for the app goes to LearnVisualStudio.com and Bob Tabor. Basically its his idea but add a bit of some of the latest features like fluent design and voila you get my version of the app." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="UWP Soundboard" Square310x310Logo="Assets\PackageAppXManifest\310x310.png" Square71x71Logo="Assets\PackageAppXManifest\71x71.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="red" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>